<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" href="favicon.png" />
        <meta name="viewport" content="width=1400">
        <base href="/" />
        <title>Aquarius Voting Tool</title>
        <meta property="og:site_name" content="Aquarius">
        <meta property="og:title" content="Aquarius Voting Tool">
        <meta property="og:url" content="https://vote.aqua.network/">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Vote for your favorite Stellar pairs.">
        <meta property="og:image" content="https://vote.aqua.network/open-graph-voting.png">
        <meta property="og:image:width" content="1388">
        <meta property="og:image:height" content="694">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Aquarius Voting Tool">
        <meta name="twitter:image" content="https://vote.aqua.network/open-graph-voting.png">
        <meta name="twitter:description" content="Vote for your favorite Stellar pairs.">
        <meta name="twitter:url" content="https://vote.aqua.network/">
        <meta name="twitter:image" content="https://vote.aqua.network/open-graph-voting.png">
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js" integrity="sha512-qlzIeUtTg7eBpmEaS12NZgxz52YYZVF5myj89mjJEesBd/oE9UPsYOX2QAXzvOAZYEvQohKdcY8zKE02ifXDmA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js" integrity="sha512-9jGNr5Piwe8nzLLYTk8QrEMPfjGU0px80GYzKZUxi7lmCfrBjtyCc1V5kkS5vxVwwIB7Qpzc7UxLiQxfAN30dw==" crossorigin="anonymous"></script>
        <% } else { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js" integrity="sha512-Vf2xGDzpqUOEIKO+X2rgTLWPY+65++WPwCHkX2nFMu9IcstumPsf/uKKRd5prX3wOu8Q0GBylRpsDB26R6ExOg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.min.js" integrity="sha512-aNBFq6ue8EmNDwVD/l0mWFy3iVZLIxtQaD7fEYBn3HluJer36T1AhJK0THj6MKKfhZrexxWsKX1T16TxLZo6uQ==" crossorigin="anonymous"></script>
        <% } %>
    </body>
</html>
